<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello page</title>
    <div th:replace="fragments :: style"/>
<!--    <style>-->
<!--        body {-->
<!--            background-image: url('https://images.pexels.com/photos/2581922/pexels-photo-2581922.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');-->
<!--            background-repeat: no-repeat;-->
<!--            background-attachment: fixed;-->
<!--            background-size: cover;-->
<!--        }-->
<!--    </style>-->
</head>
<div th:replace="fragments :: nav"></div>
<div style="display: flex;">
<div style="align-items: center; justify-content: flex-end" >
    <h2>
        <span sec:authorize="isAuthenticated()">Witaj! Jesteś zalogowany jako</span>
            <span sec:authentication="name" style="color: darkblue"></span>
    </h2>
    <a href="index"><button class="btn btn-outline-primary">Let's book it!</button></a>
</div>
</div>


<body>

</body>
</html>