<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments :: style"/>
    <title>Title</title>
</head>
<body>
<div>
    <div th:replace="fragments :: menu"/>
    <form  action="#" th:action="@{/places/search}" method="get">
        <label for="from">Date from</label>
        <input id="from" type='date' th:name="from"/>
        <label for="to">Date to</label>
        <input id="to" type='date' th:name="to"/>
        <select th:name="town">
                                <span th:each="town : ${towns.getTowns()}">
                                <option th:text="${town.getName()}"></option>
                                    </span>
        </select>
        <div>
            <button type="submit" name="submit" class="btn btn-info">Check Now</button>
        </div>
    </form>
    <div class="card-group">
        <div class="card">
            <img src="/file2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Place</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="/pnie.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Place2</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="/zamek.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Place3</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>