<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}" href="css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" th:href="@{/css/flexslider.css}" href="css/flexslider.css">
    <link rel="stylesheet" th:href="@{/css/templatemo-style.css}" href="css/templatemo-style.css">
</head>
<body>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active tm-white-bg" id="hotel">
        <div class="tm-search-box effect2">
            <form action="#" th:action="@{/api/bia/places/search}" method="get" class="hotel-search-form">
                <div class="tm-form-inner">
                    <div class="form-group">
                        <div>
                            <select class="form-control" th:name="town">
                                <span th:each="town : ${towns.getTowns()}">
                                <option th:text="${town.getName()}"></option>
                                    </span>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1' >
                            <input type='text' class="form-control" placeholder="Check-in Date" th:name="from"/>
                            <span class="input-group-addon">
							                        <span class="fa fa-calendar"></span>
							                    </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker2' >
                            <input type='text' class="form-control" placeholder="Check-out Date"  th:name="to"/>
                            <span class="input-group-addon">
							                        <span class="fa fa-calendar"></span>
							                    </span>
                        </div>
                    </div>

                </div>
                <div class="form-group tm-yellow-gradient-bg text-center">
                    <button type="submit" name="submit" class="tm-yellow-btn">Check Now</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="tm-black-bg">
    <div class="container">
        <div class="row">
            <p class="tm-copyright-text">Copyright &copy; 2084 Your Company Name</p>
        </div>
    </div>
</footer>
<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>      		<!-- jQuery -->
<script type="text/javascript" th:src="@{/js/moment.js}"></script>							<!-- moment.js -->
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>					<!-- bootstrap js -->
<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>	<!-- bootstrap date time picker js, http://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script type="text/javascript" th:src="@{/js/jquery.flexslider-min.js}"></script>
<!--
	<script src="js/froogaloop.js"></script>
	<script src="js/jquery.fitvid.js"></script>
-->
<script type="text/javascript" src="js/templatemo-script.js"></script>      		<!-- Templatemo Script -->
<script>
    // HTML document is loaded. DOM is ready.
    $(function() {

        $('#hotelCarTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })

        $('.date').datetimepicker({
            format: 'MM/DD/YYYY'
        });
        $('.date-time').datetimepicker();

        // https://css-tricks.com/snippets/jquery/smooth-scrolling/
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });

    // Load Flexslider when everything is loaded.
    $(window).load(function() {
        // Vimeo API nonsense

        /*
                      var player = document.getElementById('player_1');
                      $f(player).addEvent('ready', ready);

                      function addEvent(element, eventName, callback) {
                        if (element.addEventListener) {
                          element.addEventListener(eventName, callback, false)
                        } else {
                          element.attachEvent(eventName, callback, false);
                        }
                      }

                      function ready(player_id) {
                        var froogaloop = $f(player_id);
                        froogaloop.addEvent('play', function(data) {
                          $('.flexslider').flexslider("pause");
                        });
                        froogaloop.addEvent('pause', function(data) {
                          $('.flexslider').flexslider("play");
                        });
                      }
        */



        // Call fitVid before FlexSlider initializes, so the proper initial height can be retrieved.
        /*

                      $(".flexslider")
                        .fitVids()
                        .flexslider({
                          animation: "slide",
                          useCSS: false,
                          animationLoop: false,
                          smoothHeight: true,
                          controlNav: false,
                          before: function(slider){
                            $f(player).api('pause');
                          }
                      });
        */




//	For images only
        $('.flexslider').flexslider({
            controlNav: false
        });


    });
</script>


    </body>

    </html>