<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Place</title>
</head>
<body>
<div th:text="'place :'+${place.getTownName()}"></div>
<div th:text="'place :'+${place.getName()}"></div>
<div th:text="'place :'+${place.getPhoneNumber()}"></div>

<div th:each="room :${rooms.getRooms()}">
    <p th:text="'room type : ' +${room.getRoomType()}"></p>
    <p th:text="'standard : ' +${room.getStandard()}"></p>
    <form action="#" th:action="@{/users/bookings/new2}" th:object="${booking}" method="POST" >

        <label th:text="'id : '+${room.getId()}" for="roomId"  name="roomId"></label>
        <input type="hidden"  id="roomId"name="roomId" th:value="${room.id}" />
        <label th:text="'price : '+ ${room.getPrice()}" for="price" name="price"></label>
        <input type="hidden" id="price"name="price" value="${room.price}" th:field="*{price}">
        <div class="row">
            <input type="hidden" id="dateFrom" th:name="from" th:value="${from}" th:field="*{dateFrom}" value="${dateFrom}"/>
        </div>
        <div class="row">
            <input type="hidden" id="dateTo" th:name="to" th:value="${to}" th:field="*{dateTo}" value="${dateTo}" />
        </div>
        <div class="row">
            <input type="hidden" id="placeId" name="placeId" th:value="${place.id}" th:field="*{placeId}"/>
        </div>
        <div class="row">

        </div>
        <button type="submit" name="submit">Check In Now</button>
    </form>

</div>


</body>
</html>