<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div th:each="place :${places.getPlaces()}">
    <p th:text="'name : ' + ${place.getName()}"></p>
    <p th:text="'town : ' + ${place.getTownName()}"></p>
    <p th:text="'phone number : ' +${place.getPhoneNumber()}"></p>
    <p th:text="'id : ' +${place.getId()}"></p>
    <form th:action="@{/places/{placeId}/rooms/search (placeId= ${place.id})}" method="get">
        <input type="hidden" th:value="${from}" th:name="from"></input>
        <input type="hidden" th:value="${to}" th:name="to"></input>
        <button type="submit" name="submit">Check Now</button>
    </form>
    <!--    <a th:href="@{/api/bia/places/{placeId}/rooms (placeId= ${place.id})}">-->
    <!--        <span>see details</span></a>-->
</div>

</body>
</html>